

/******Elements*****/
body{
    display: block;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/******Classes*****/
.header {
    display: inline-block;
    width: 100%;
    color: #000;
    opacity: .75;

    
}

.headerIcon {
    height: 30px;
    width: 30px;
    padding: 0px 15px;
    
}


/******IDs*****/
#headerLeft {
    
    display: inline-block;
    text-align: left;
  
}

#headerRight {
    display: inline-block;
    text-align: right;
    position: relative;
    float: right;

}

