

/******Elements*****/
body{
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
div{
    display: block;
}

/******Classes*****/
.header {
    
    padding: 15px;
    color: black;
    opacity: .75;
    
}

.headerIcon{
    height: 30px;
    width: 30px;
    padding: 0px 15px;
    position: relative;
}


/******IDs*****/
#leftHeader{
    display: inline-block;
    text-align: left;
    
}

#rightHeader{
    display: inline-block;
    text-align: right;
    
}

